/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: initial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #FDD116;
}

*{
    font-family:Arial, sans-serif;
}

header p{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 24px;
    background-color: #1F72C0;
    padding: 0.5rem 0;
}

main{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding-top: 1rem;
}

footer{
    background-color: #29539D;
    padding: .75rem 0;
}

footer p{
    color: #fff;
    font-family: Arial, sans-serif;
}

nav ul{
    background-color: #1F72C0;
    padding: .25rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    padding: .55rem 1rem;
    text-align: center;
    width: 100%;
}

article{
    margin-top: 2rem;
}
aside{
    background-color: #1F72C0;
    padding: 1rem;
    color: #fff;
}

aside figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside figure img{
    border: 1px solid white;
    width: 75%;
}
p{
 text-align: justify;
 font-size: 14px;
}


img{
    display: block;
    height: auto;
    width: 100%;
}
h1{
    font-size: 22px;
    font-weight: bold;
    color: #FDD116;
    font-size: 24px;
    padding-bottom: 1rem;
    
}

h2{
    font-size: 17px;
    font-weight: bold;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

a{
    color: #fff;
    transition: .35s;
}

a:hover{
    color: #FDD116;
    transition: .35s;
}


/* CLASS  */


.flex {
    display: flex;   
}
.row{
    flex-direction: row;
}


.margin-1rem{
    margin: 1rem;
}

.txt-center{
    text-align: center;
}


@media screen and (max-width: 640px) {
     main{
        flex-direction: column;
    }

    article{
        padding: 1rem;
    }
  }

  @media screen and (min-width: 1110px) {
    .container{
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
 }